#blogs {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .blog-title {
        margin-top: 7%;
        font-family: "Calibri";
        font-weight: 700;
        color: white;
        font-size: 50px;
    }
    .blog-list {
        width: 40%;
        height: 80%;
        font-family: "Consolas";
        color: white;
        margin-top: 2%;
        text-decoration: underline;
        font-size: 1.2vw;
        :hover {
            cursor: pointer;
        }
        li {
            padding-top: 2%;
        }
    }
}