.project-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    .project-title {
        padding-top: 7%;
        text-align: center;
        font-family: "Ink Free";
        font-size: 40px;
        font-weight: 700;
        color: #ffffff;
    }
    .project-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        height: 80%;
        margin-top: 2%;
        > * {
            padding-right: 2%;
        }
    }
}